<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- A simple name-value pair example. -->
		<section name="FileExtensions" type="System.Configuration.NameValueSectionHandler" />
		
	</configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
   
  <FileExtensions>
    <add key="key0" value=".doc" />
    <add key="key1" value=".docx" />
    <add key="key2" value=".xls" />
    <add key="key3" value=".xlsx" />
    <add key="key4" value=".ppt" />
    <add key="key5" value=".pptx" />
    <add key="key6" value=".pdf" />
    <add key="key7" value=".rar" />
    <add key="key8" value=".zip" />
    <add key="key9" value=".txt" />
    <add key="key10" value=".rtf" />
  </FileExtensions>
</configuration>