<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileExtensions" type="System.Configuration.NameValueSectionHandler" />

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <FileExtensions>
    <add key=".doc" value="true" />
    <add key=".docx" value="true" />
    <add key=".xls" value="true" />
    <add key=".xlsx" value="true" />
    <add key=".ppt" value="true" />
    <add key=".pptx" value="true" />
    <add key=".pdf" value="true" />
    <add key=".rar" value="true" />
    <add key=".zip" value="true" />
    <add key=".txt" value="true" />
    <add key=".rtf" value="true" />
  </FileExtensions>

  <appSettings>
    <add key="AuthMode" value="Personal"/>
  </appSettings>
</configuration>