<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FileExtensions" type="System.Configuration.NameValueSectionHandler" />

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <FileExtensions>
    <add key=".doc" value="True" />
    <add key=".docx" value="True" />
    <add key=".xls" value="True" />
    <add key=".xlsx" value="True" />
    <add key=".ppt" value="True" />
    <add key=".pptx" value="True" />
    <add key=".pdf" value="True" />
    <add key=".rar" value="True" />
    <add key=".zip" value="True" />
    <add key=".txt" value="True" />
    <add key=".rtf" value="True" />
  </FileExtensions>

  <appSettings>
    <add key="AuthMode" value="0"/>
    <add key="RememberMe" value="False"/>
    <add key="ID" value=""/>
    <add key="Password" value=""/>
    <add key="DomainPermit" value=""/>
  </appSettings>
</configuration>